body{
    background-image: url("assets/background.png");
    background-repeat: repeat-x;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h1{
    font-family: 'Comic Sans MS';
    color: darkblue;
    font-size: 60px;
}
h4{
    font-style: italic;
}
a.oleh{
    color: darkred;
    text-decoration: none;
}
a.facebook{
    text-decoration: none;
    font-weight: bold;
}
a.facebook:hover{
    background-color: blue;
    color: white;
}
p.paragraf1{
    color: goldenrod;
}