/* Font */
@font-face {
    font-family: 'BebasNeue';
    src: url('../font/BebasNeue-Regular.woff') format('woff');
}
/* Style Utama */
html{
    scroll-behavior: smooth;
}
:root {
    --text-color: #ffffff;
}
body {
    font:18px/36px ,'Bebas Neueu', Arial, sans-serif;
    background-color: rgb(17, 17, 17);
    background-image: url('../img/bg-body.png');
    color: var(--text-color);
}
/* header */
header{
    background-color: black;
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 10;
}
header>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
header>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .3s;
}
header>ul>li>a:hover{
    color: peru;
    transform: scale(1.1);
}
/* hero */
.hero {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../img/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0;
    height: 100dvh;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 16px;
    font-family: 'Sixtyfour', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}
/* content */
.container {
    display: grid;
    background-color: darkgray;
    place-items: center;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
}
.card:nth-child(even){
    transform: translateX(calc(30%));
}
.card>a{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: block;
    position: relative;
}
.card>a>.image_name{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    line-height: 120px;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    color: var(--text-color);
    border-radius: 25%;
    font-weight: bolder;
    text-align: center;
    transform: rotate(45deg) translateX(200px);
    transition: all .5s;
}
.card>a:hover>.image_name{
    opacity: 1;
    transform: rotate(0deg) translateX(0);
    z-index: 3;
}
.card .image_logo{
    width: 120px;
    height: 120px;
}
.card>.thumbs{
    background-color: gray;
    padding: 0;
}
/* footer */
footer{
    text-align: center;
    padding: 5px 0;
    margin-top: 30px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}



/* overlay */
.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target{
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0, .7);
}
.overlay img{
    max-height: 75%;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.5);
}
.overlay:target img{
    animation: zoomDanFade 1s;
}
.overlay .close{
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;
}
.overlay:target .close{
    animation: slideDownFade 0.5s 0.5s forwards;
}

.overlay:target .next,
.overlay:target .prev{
    animation: fadeAjah 0.5s 0.5s forwards;
}

/* navigasi */
.next, .prev {
    width: 33px;
    height: 33px;
    background-image: url("../img/next.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    text-indent: -9999px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #ffffff;
    top: 40%;
    opacity: 0;
    /* margin-left: 50px; */
}
.prev {
    transform: rotate(180deg);
    margin-left: -40px;
}

/* media */
@media (min-width: 640px) {
    h1{
        font-size: 20px;
    }
    .container {
      max-width: 640px;
        grid-template-columns: repeat(2, 1fr);
    }
    .card:nth-child(even){
        transform: translateX(0);
    }
    .card:nth-child(4n+3),
    .card:nth-child(4n){
        transform: translateX(calc(30%));
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        grid-template-columns: repeat(3, 1fr);
    }
    .card:nth-child(4n+3),
    .card:nth-child(4n){
        transform: translateX(0);
    }
    .card:nth-child(6n+4),
    .card:nth-child(6n+5),
    .card:nth-child(6n){
        transform: translateX(calc(30%));
    }
}

@media (min-width: 1024px) {
    h1{
        font-size: 50px;
    }
    .overlay img{
        max-height: 100%;
    }
    .next, .prev {
        width: 50px;
        height: 50px;
        margin-left: 50px;
    }
    .prev {
        margin-left: -120px;
    }
    .container {
        max-width: 1024px;
        grid-template-columns: repeat(5, 1fr);
    }
    .card:nth-child(6n+4),
    .card:nth-child(6n+5),
    .card:nth-child(6n){
        transform: translateX(0);
    }
    .card:nth-child(10n+6),
    .card:nth-child(10n+7),
    .card:nth-child(10n+8),
    .card:nth-child(10n+9),
    .card:nth-child(10n){
        transform: translateX(calc(20%));
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}


/* animasi */
@keyframes fadeAjah {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}













