.container{
    width: 600px;
    height: 400px;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    /* align-items: baseline; */
}


.container div{
    flex:1;
    background-color: rgb(19, 133, 255);
    float: left;
    margin: 2px;
}

.container div.dua{
    flex: 3;
    align-self: center;
}
